### Importing Depedencies

In [760]:
import re
from math import ceil

### Top Level Functions

In [551]:
def fix_letters_into_numbers(str):
    str = str.lower()
    str = str.replace('o','0')
    str = str.replace('i','1')
    str = str.replace('l','1')
    str = str.replace('b','8')
    str = str.replace('s','5')
    return str

def remove_whitespaces(str):
    return str.replace(' ','')

def remove_doublespaces(str):
    return str.replace('  ',' ')

def remove_spaces_between_num_sep(str):
    return re.sub(r'\s?,\s?', ',', str)
    
def jaccard_sim(str1, str2): 
    a = set(str1.split()) 
    b = set(str2.split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

def apply_price_sim(str):
    value = re.sub(r'\d', 'd', str).lower().replace('dd','d')
    score = jaccard_sim(value, 'd,d (d,d) = d,d')
    return score

### Loading Data

In [678]:
file = open('./data.txt')
original_data = file.readlines()

sku_reg = re.compile(r'^(?P<seq>\d{3})\s+(?P<sku>\d{13})\s(?P<desc>.*)$')
price_reg = re.compile(r'\(\d+,\d+\)')
prices_reg = re.compile(r'\d+,\d+')

### Data Preparation

In [613]:
data_prep = map(lambda x: x.strip(), original_data)
data_prep = map(remove_doublespaces, data_prep)
data_prep = filter(None, data_prep)
data_prep = map(remove_spaces_between_num_sep, data_prep)
data_prep = list(data_prep)

#### Get Skus

Create a list of all skus match

In [630]:
def build_sku(item):
    return {'seq': item['match'].group('seq'),
            'sku': item['match'].group('sku'),
            'desc': item['match'].group('desc'),
            'data': item['data']
           }

sku_list = map(lambda x: {'match': sku_reg.match(x), 'data': x}, data_prep)
sku_list = filter(lambda x: x['match'], sku_list )
sku_list = list(map(build_sku, sku_list))

print(*sku_list[:5] , sep='\n\n\n')

{'seq': '001', 'sku': '7891172432019', 'desc': 'NEVE P. HIG NEUTRO F. DUPL', 'data': '001 7891172432019 NEVE P. HIG NEUTRO F. DUPL'}


{'seq': '002', 'sku': '7898367980010', 'desc': 'EISENBAHN CERU UBT 26 79 (4,40) = 16,79', 'data': '002 7898367980010 EISENBAHN CERU UBT 26 79 (4,40) = 16,79'}


{'seq': '003', 'sku': '7896051111764', 'desc': 'ITAMBE LEITE 2. LACT"SEMI', 'data': '003 7896051111764 ITAMBE LEITE 2. LACT"SEMI'}


{'seq': '009', 'sku': '7896051128076', 'desc': 'ITAMBE LEITE Z. LACT DESN', 'data': '009 7896051128076 ITAMBE LEITE Z. LACT DESN'}


{'seq': '005', 'sku': '7896051128076', 'desc': 'ITAMBE LEITE 2 LACT DESN', 'data': '005 7896051128076 ITAMBE LEITE 2 LACT DESN'}

Clean data with prices

##### Cost

In [860]:
def find_units(item):
    units_reg = re.compile(r'\sun|kg\s')
    units = list(map(lambda x: x.strip(), units_reg.findall(item['data'])))
    item.update({'unit': 'un' if len(units) == 0 else units[0]})
    return item

def find_costs(item):
        reg = re.compile(r'\d+\.\d+')
        costs = list(map(float, reg.findall(item['data'])))
        kg = item['unit'] == 'kg'
        total = costs[-1]
        unit_price = costs[-1] if len(costs) or kg < 3 else costs[0]
        qtd = ceil(total / unit_price)
        item.update({'costs' : costs, 'qtd': qtd})
        return item
    
def fix_cost_separator(item):
    new_val = re.sub(r'(\d+),(\d+)', '\g<1>.\g<2>', item['data'])
    item['data'] = new_val
    return item


tokenize = lambda x: {'token' : remove_whitespaces(x), 'data' : x}

filter_prices = lambda x : price_reg.search(x['token'])

remove_kg = lambda x : x['unit'] != 'kg'

list_cost = map(tokenize , data_prep)
list_cost = map(find_units, list_cost)
# list_cost = filter(remove_kg, list_cost)
list_cost = filter(filter_prices, list_cost)
list_cost = map(fix_cost_separator, list_cost)
list_cost = map(find_costs, list_cost)

# list_cost = map(find_costs, list_cost)

seq = 0
for i in list_cost:
    seq = seq + 1
    print(seq, '\t', i['qtd'],'\t', i['unit'], '\t', i['costs'], '\t', i['data'])

# print(*[x['data'] for x in list_cost], sep='\n')

1 	 1 	 un 	 [4.4, 16.79] 	 002 7898367980010 EISENBAHN CERU UBT 26 79 (4.40) = 16.79
2 	 1 	 un 	 [3.89, 1.39, 3.89] 	 1 un X 3.89 (1.39) -< 3.89
3 	 1 	 un 	 [4.19, 0.18, 4.19] 	 1 un X 4.19 (0.18) = 4.19
4 	 1 	 un 	 [4.19, 0.18, 4.19] 	 1 un * 4.19 (0.18) = 4.19
5 	 1 	 un 	 [4.19, 0.18, 4.19] 	 un & 4.19 (0.18) = 4.19
6 	 1 	 un 	 [4.19, 0.18, 4.19] 	 I un X 4.19 (0.18) * 4.19
7 	 1 	 un 	 [2.79, 0.32, 2.79] 	 1 un 2 2.79 (0.32) = 2.79
8 	 1 	 un 	 [6.79, 1.51, 6.79] 	 1 un X 6.79 (1.51) = 6.79
9 	 1 	 un 	 [6.79, 1.51, 6.79] 	 1 un X 6.79 (1.51) = 6.79
10 	 1 	 un 	 [6.79, 1.51, 6.79] 	 1 un X 6.79 (1.51) = 6.79
11 	 1 	 un 	 [1.69, 0.41, 1.69] 	 1 un X 1.69 (0.41) = 1.69
12 	 1 	 un 	 [3.79, 1.34, 3.7] 	 1 un * 3.79 (1.34 ) = 3.7
13 	 1 	 un 	 [3.79, 1.34, 3.79] 	 1 un X 3.79 (1.34) = 3.79
14 	 1 	 un 	 [3.79, 1.34, 3.75] 	 I un X 3.79 (1.34) = 3.75
15 	 1 	 un 	 [3.79, 1.34, 3.79] 	 1 un X 3.79 (1.34 ) = 3.79
16 	 1 	 un 	 [3.39, 1.21, 3.39] 	 un X 3.39 (1.21) = 3.39
17 	 1 	 un 	 [3.39, 1.21, 3.35] 	 1 un X 3.39 (1.21) = 3.35
18 	 1 	 un 	 [24.79, 2.78, 24.75] 	 NOTDun X 24.79 (2.78) =24.75
19 	 1 	 un 	 [1.29, 0.14, 1.2] 	 AppE Un & 1.29 (0.14) = 1.20
20 	 1 	 un 	 [1.29, 0.14, 1.25] 	 1 un X 1.29 (0.14) = 1.25
21 	 1 	 un 	 [6.75, 0.75, 6.75] 	 1 un X 6.75 (0.75) = 6.75
22 	 1 	 un 	 [13.69, 3.03, 13.69] 	 1 un X 13.69 (3.03) = 13.69
23 	 1 	 un 	 [2.89, 0.32, 2.85] 	 1 un X 2.89 (0.32) = 2.85
24 	 1 	 un 	 [2.89, 0.95, 2.89] 	 1 un X 2.89 (0.95) = 2.89
25 	 1 	 un 	 [2.09, 0.24, 2.09] 	 1 un & 2.09 (0.24) = 2.09
26 	 1 	 un 	 [2.09, 0.24, 2.09] 	 1 un X 2.09 (0.24) = 2.09
27 	 1 	 un 	 [2.09, 0.24, 2.09] 	 1 un X 2.09 (0.24) = 2.09
28 	 1 	 un 	 [2.09, 0.24, 2.09] 	 - un 2 2.09 (0.24) = 2.09
29 	 1 	 un 	 [2.09, 0.24, 2.09] 	 I un & 2.09 (0.24) = 2.09
30 	 1 	 un 	 [2.09, 0.24, 2.09] 	 1 un % 2.09 (0.24) = 2.09
31 	 1 	 un 	 [2.09, 0.24, 2.05] 	 I un X 2.09 (0.24) = 2.05
32 	 1 	 un 	 [2.09, 0.24, 2.09] 	 1 un % 2.09 (0.24) = 2.09
33 	 1 	 kg 	 [0.73, 2.49, 0.41, 1.82] 	 033 0000000007474 CHUCHU KG 0.730 kg X 2.49 (0.41) = 1.82
34 	 1 	 kg 	 [0.48, 6.99, 0.74, 3.36] 	 0.480 kg X 6.99 (0.74) = 3.36
35 	 1 	 un 	 [8.89, 0.99, 8.89] 	 1 un X 8.89 (0.99) = 8.89
36 	 1 	 un 	 [1.69, 0.19, 1.69] 	 1 un X 1.69 (0.19) = 1.69
37 	 1 	 un 	 [1.69, 0.19, 1.69] 	 1 un X 1.69 (0.19) = 1.69
38 	 1 	 kg 	 [1.78, 0.48, 2.18] 	 1 225 kg X 1.78 (0.48) = 2.18
39 	 1 	 un 	 [5.99, 0.67, 5.95] 	 1 un X 5.99 (0.67) = 5.95
40 	 1 	 un 	 [1.48, 0.33, 1.48] 	 1 un X 1.48 (0.33) = 1.48
41 	 1 	 un 	 [10.99, 1.23, 10.95] 	 1 un X 10.99 (1.23) = 10.95

### Find CNPJ

In [155]:



prices_list = list(map(lambda x: {'score': int(apply_price_similarity(x, 'd un x d,dd (d,dd) = d,dd') * 100), 'data': x}, str_lines))

print_list(prices_list)

# filtered_cnpj = filter_list_by_regex(r'CNPJ', str_lines)
# filtered_cnpj = map_list(remove_whitespaces, str_lines)
# filtered_cnpj = map_list(lambda x: x.replace(',','.'), filtered_cnpj)

# cnpj_store = filtered_cnpj[0]

# cnpj_store = re.search(r'CNPJ:([\d.-/]*)', cnpj_store)

# cnpj_store = cnpj_store[1] if len(cnpj_store.groups()) == 1 else None

# print(filtered_cnpj)

{'score': 0, 'data': 'Supermercado Mirassol Ltda'}
{'score': 0, 'data': 'R. Joao Mirassol, 509 - VL. PESTANA - OSASCO - SP'}
{'score': 0, 'data': 'CNPJ:60. 708.245/0001-08 TE :492195864111'}
{'score': 0, 'data': 'Extrato No. 63772'}
{'score': 0, 'data': 'CUPOM FISCAL ELETRONICO - SAT'}
{'score': 0, 'data': 'CPF/CNPJ do Consumidor : 333.599.318-74'}
{'score': 5, 'data': '# ICOD IDESC IQTD JUN IVL UN RS ICUL TR R$)* IVL ITEM RS'}
{'score': 0, 'data': '001 7891172432019 NEVE P. HIG NEUTRO F. DUPL'}
{'score': 15, 'data': '002 7898367980010 EISENBAHN CERU UBT 26 79 (4,40) = 16,79'}
{'score': 71, 'data': '1 un X 3,89 (1,39) -< 3,89'}
{'score': 0, 'data': '003 7896051111764 ITAMBE LEITE 2. LACT"SEMI'}
{'score': 62, 'data': '1 un X 4,19 (0, 18) = 4,19'}
{'score': 0, 'data': '009 7896051128076 ITAMBE LEITE Z. LACT DESN'}
{'score': 55, 'data': '1 un * 4, 19 (0,18) = 4,19'}
{'score': 8, 'data': '005 7896051128076 ITAMBE LEITE 2 LACT DESN'}
{'score': 0, 'data': '006 7896051128076 ITAMBE LEITE Z.LACT DESN'}
{'score': 44, 'data': 'un & 4,19 (0,18) = 4, 19'}
{'score': 30, 'data': 'I un X 4,19 (0, 18) * 4,19'}
{'score': 0, 'data': '007 7891000102626 NESTLE AVEIA FLOCOS FIND'}
{'score': 0, 'data': "008 7896475900012 SAD MIGUEL VELA VOTIVA'S"}
{'score': 83, 'data': '1 un 2 2,79 (0,32) = 2,79'}
{'score': 100, 'data': '1 un X 6,79 (1,51) = 6,79'}
{'score': 0, 'data': "009 7896475900012 SAD MIGUEL VELA VOTIVA'S"}
{'score': 100, 'data': '1 un X 6,79 (1,51) = 6,79'}
{'score': 0, 'data': "010 7896475900012 SAD MIGUEL VELA VOTIVA'S"}
{'score': 100, 'data': '1 un X 6,79 (1,51) = 6,79'}
{'score': 0, 'data': '011 7896098900239 YPE DETERGENT COCO 500ML'}
{'score': 100, 'data': '1 un X 1,69 (0,41) = 1,69'}
{'score': 0, 'data': '012 7897395007089 CACILDIS CERVEJA LONG NE'}
{'score': 36, 'data': '1 un * 3,79 (1, 34 ) = 3, 7'}
{'score': 0, 'data': '013 7897395007089 CACIIDIS CERVEJA LONG NE'}
{'score': 40, 'data': '1 un X 3, 79 (1, 34) = 3, 79'}
{'score': 0, 'data': '014 7897395007089 CACIIDIS CERVEJA LONG NE'}
{'score': 62, 'data': 'I un X 3.79 (1,34) = 3,75'}
{'score': 0, 'data': '015 7897395007089 CACILDIS CERVEJA LONG NE'}
{'score': 0, 'data': 'in16 7897395010119 ITAIPAVA CERVEJA PREMIUM'}
{'score': 40, 'data': '1 un X 3, 79 (1, 34 ) = 3, 79'}
{'score': 0, 'data': '017 7897395010119 ITAIPAVA CERVEJA PREMIUM'}
{'score': 83, 'data': 'un X 3,39 (1,21) = 3,39'}
{'score': 0, 'data': '018 7898596080581 COPRA OLEO DE COCO S/SAB'}
{'score': 100, 'data': '1 un X 3,39 (1,21) = 3,35'}
{'score': 20, 'data': 'NOTDun X 24, 79 (2,78) =24, 75'}
{'score': 0, 'data': '019 7896048284631 VITALIA VINAGRE DE ALCOO'}
{'score': 27, 'data': 'AppE Un & 1.29 (0, 14) = 1,20'}
{'score': 0, 'data': '020 7896048284631 VITALIA VINAGRE DE ALCOO'}
{'score': 0, 'data': '021 7896000555359 MAGUARY SUCO DE MARACUJA'}
{'score': 85, 'data': '1 un X 1 ,29 (0,14) = 1,25'}
{'score': 62, 'data': '1 un X 6,75 (0, 75) = 6,75'}
{'score': 0, 'data': '022 7896083800254 SUPER CANDIDA AGUA SANIT'}
{'score': 71, 'data': '1 un X 13,69 (3,03) = 13,69'}
{'score': 0, 'data': '023 7891025116561 BONAFONT AGUR C/GAS TANG'}
{'score': 100, 'data': '1 un X 2,89 (0,32) = 2,85'}
{'score': 0, 'data': '024 7891025114703 BONAFONT AGUA C/GAS ABA'}
{'score': 100, 'data': '1 un X 2,89 (0,95) = 2,89'}
{'score': 9, 'data': '025 7891999430205 VIGOR IDGURTE INTEGRAL D'}
{'score': 71, 'data': '1 un & 2,09 (0,24) = 2,09'}
{'score': 0, 'data': '026 7891999010704 VIGOR ZERO LACTOSE DESNA'}
{'score': 100, 'data': '1 un X 2,09 (0,24) = 2,09'}
{'score': 0, 'data': '027 7891999010704 VIGOR ZERO LACTOSE DESNA'}
{'score': 100, 'data': '1 un X 2,09 (0,24) = 2,09'}
{'score': 9, 'data': '028 7891999430205 VIGOR IOGURTE INTEGRAL D'}
{'score': 71, 'data': '- un 2 2,09 (0,24) = 2,09'}
{'score': 0, 'data': "029 7891999430205 VIGOR TOGURTE INTEGRAL 'D"}
{'score': 50, 'data': 'I un & 2,09 (0,24) = 2,09'}
{'score': 9, 'data': '030 7891999430205 VIGOR TOGURTE INTEGRAL D'}
{'score': 71, 'data': '1 un % 2,09 (0,24) = 2,09'}
{'score': 0, 'data': '031 7891999010704 VIGOR ZERO LACTOSE DESNA'}
{'score': 71, 'data': 'I un X 2,09 (0,24) = 2,05'}
{'score': 0, 'data': 'J36 1891999010/04 VIGOR ZERO LACTOSE DESNA'}
{'score': 71, 'data': '1 un % 2,09 (0,24) = 2,09'}
{'score': 36, 'data': '033 0000000007474 CHUCHU KG 0.730 kg X 2,49 (0,41) = 1,82'}
{'score': 0, 'data': '034 0000000008242 CAQUI RAMA FORTE KG'}
{'score': 30, 'data': '0.480 kg X 6,99 (0, 74) = 3,36'}
{'score': 0, 'data': '035 7896004000534 KELLOGGS CORN FLAKES 20'}
{'score': 100, 'data': '1 un X 8,89 (0,99) = 8,89'}
{'score': 0, 'data': '036 7891079012963 NISSIN LAMEN (COSTELA 856'}
{'score': 0, 'data': '037 7891079012963 NISSIN LAMEN COSTELA 856'}
{'score': 100, 'data': '1 un X 1,69 (0,19) = 1,69'}
{'score': 0, 'data': '038 0000000007252 BANANA NANICA KG'}
{'score': 100, 'data': '1 un X 1,69 (0,19) = 1,69'}
{'score': 62, 'data': '1 225 kg X 1,78 (0,48) = 2,18'}
{'score': 0, 'data': '039 7896304000012 MACA TURMA DA MONICA 1KG'}
{'score': 100, 'data': '1 un X 5,99 (0,67) = 5,95'}
{'score': 0, 'data': '040 7898903423018 SPK ALFACE HIDROPONICO U'}
{'score': 9, 'data': '041 7898944011175 DVDS EXPRESSUS C/30 UN'}
{'score': 75, 'data': '1 un X 1,48 (0,33) = 1, 48'}
{'score': 71, 'data': '1 un X 10,99 (1,23) = 10,95'}
{'score': 0, 'data': 'TOTAL R$'}
{'score': 0, 'data': 'Lartao de Creditou'}
{'score': 0, 'data': '192, 63'}
{'score': 0, 'data': '192, 63'}
{'score': 0, 'data': 'TROCO :'}
{'score': 0, 'data': 'U,63'}
{'score': 16, 'data': '0,00'}
{'score': 0, 'data': 'Comete crime quem sonega'}
{'score': 0, 'data': 'OBSERVACGES DO CONTRIBUINTE'}
{'score': 0, 'data': 'CH4 OP : 124-THAINA CAROLINE V : 0413R253 EXTR: 63772'}
{'score': 0, 'data': 'valor aproximado dos tributes dos itens'}
{'score': 0, 'data': 'informacao dos Tributos Totais Incidentes'}
{'score': 0, 'data': '(Lei Federal 12.741/2012)'}
{'score': 0, 'data': 'Trib. aprox.R$: federal :11,54 estadual :23,27'}
{'score': 0, 'data': 'Fonte: IBP1/empresometro.co'}
{'score': 0, 'data': 'DI1D7F'}
{'score': 0, 'data': 'SAT No. 000590193'}
{'score': 0, 'data': '03/07/2019 - 18:09:14'}
{'score': 0, 'data': '3519 0760 7082 4500 0108 5900 0590 1930 6377 2394 4032'}